<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pull-left">
            <search-bar 
                region="region" 
                item="item" 
                buyorders="buyorders" 
                sellorders="sellorders" 
                pagination="pagination">
            </search-bar>
        </div>
        <div class="col-md-6 pull-right">
            <div class="item">
                <p class="h4 text-left item-name" ng-if="item.name">
                    <img ng-src="{{itemImg + item.id + '_32.png'}}" class="pr-5">
                    {{ item.name }}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 market-groups">
            <market-groups item="item" region="region"></market-groups>
        </div>
        <div class="col-md-10 market">
            <div>
                <p class="h1 pt-0 mt-0 pb-15 pl-15 text-center orders-title">Sell Orders</p>
            </div>
            <table class="table table-bordered table-striped sell table-hover">
                <thead>
                    <tr class="row header h5 pt-5 pb-5 pl-5 pr-5">
                        <th class="col-md-2" ng-click="sortBy('volume')">Quantity</th>
                        <th class="col-md-2" ng-click="sortBy('price')">Price</th>
                        <th class="col-md-5" ng-click="sortBy('location.name')">Station</th>
                        <th class="col-md-1" ng-click="sortBy('range')">Range</th>
                        <th class="col-md-2" ng-click="sortBy('issued')">Issued</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row orders pt-5" ng-repeat="order in sellorders.items | limitTo:10:10*(pagination.sell - 1) track by $index">
                        <td class="col-md-2">{{ order.volume | number:0 }} / {{ order.volumeEntered | number:0 }}</td>
                        <td class="col-md-2">{{ order.price | number:2 }}</td>
                        <td class="col-md-5" ng-class="{yellow:order.location.id > 1000000000}">{{ order.location.name }}</td>
                        <td class="col-md-1">{{ order.range }}</td>
                        <td class="col-md-2">{{ order.issued }}</td>
                    </tr>
                </tbody>
            </table>            
            <div class="results text-right">
                <div class="pt-5 pb-5 pl-5 text-center" ng-if="sellorders.items.length == 0 || !sellorders.items">No sell orders to display</div>
                <div ng-if="sellorders.items.length > 0">
                    <ul uib-pagination total-items="sellorders.items.length" ng-model="pagination.sell" max-size="5" class="pagination-sm mb-0" boundary-link-numbers="true" rotate="false" items-per-page="10"></ul>
                    <div class="totals pt-5 pb-5 pl-5 pb-10">Total: {{ sellorders.items.length | number:0 }} orders and {{ sellorders.total | number:0 }} items</div>
                </div>
            </div>
            
            <div>
                <p class="h1 pt-0 mt-0 pb-15 pl-15 text-center orders-title">Buy Orders</p>
            </div>
            <table class="table table-bordered table-striped buy table-hover">
                <thead>
                    <tr class="row header h5 pt-5 pb-5 pl-5 pr-5">
                        <th class="col-md-2" ng-click="sortBy('volume')">Quantity</th>
                        <th class="col-md-2" ng-click="sortBy('price')">Price</th>
                        <th class="col-md-5" ng-click="sortBy('location.name')">Station</th>
                        <th class="col-md-1" ng-click="sortBy('range')">Range</th>
                        <th class="col-md-2" ng-click="sortBy('issued')">Issued</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row orders pt-5" ng-repeat="order in buyorders.items | limitTo:10:10*(pagination.buy - 1)  track by $index">
                        <td class="col-md-2">{{ order.volume | number:0 }} / {{ order.volumeEntered | number:0 }}</td>
                        <td class="col-md-2">{{ order.price | number:2 }}</td>
                        <td class="col-md-5" ng-class="{yellow:order.location.id > 1000000000}">{{ order.location.name }}</td>
                        <td class="col-md-1">{{ order.range }}</td>
                        <td class="col-md-2">{{ order.issued }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="results text-right">
                <div class="pt-5 pb-5 pl-5 pb-5 text-center" ng-if="buyorders.items.length == 0 || !buyorders.items">No buy orders to display</div>
                <div ng-if="buyorders.items.length > 0">
                    <ul uib-pagination total-items="buyorders.items.length" ng-model="pagination.buy" max-size="5" class="pagination-sm mb-0" boundary-link-numbers="true" rotate="false" items-per-page="10"></ul>{{buypage}}
                    <div class="totals pt-5 pb-5 pl-5 pb-5">Total: {{ buyorders.items.length | number:0 }} orders and {{ buyorders.total | number:0 }} items</div>
                </div>
            </div>
        </div>
    </div>
</div>