$color-text-accent: #f6a821;
$color-text-primary: #0F83C9;
$color-text-info: #56C0E0;
$color-text-success: #1bbf89;
$color-text-warning: #f7af3e;
$color-text-danger: #DB524B;
$color-text-body: #949ba2;

$color-background: #2f323b;
$color-background-nav: #24262d;

$color-border: #3d404c;
$color-border-default: #616779;
$color-border-hover: #798094;

$color-border-success: #2ce1a5;
$color-hover-info: #81d0e8;
$color-warning-hover: #f9c36f;
$color-danger-hover: #e47b75;
$color-border-primary: #1d9fee;

$color-link: #f8bb52;

$color-background-form: #494b54;



