<section class="content">
    <div class="container-fluid">
        {% include 'marketexplorer/index.html' %}
    </div>
</section>

<!-- babel polyfills for es6 features -->
<script src="https://www.evetrademaster.com/v2/dist/polyfills/polyfills.js"></script>
<script src="{{ base_url('assets/fusioncharts/js/fusioncharts.js') }}?v={{HASH_CACHE}}"></script>