<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% include 'common/view-header_v' ~ '.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="panel panel-filled panel-c-success panel-main">
                    <div class="panel-heading">
                        Profits from last <span class="table-interval"></span> days
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-interval" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Time Interval
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-interval">
                                <li><a data-id="1" href="#">Last 24 hours</a></li>
                                <li><a data-id="7" href="#">Last 7 days</a></li>
                                <li><a data-id="14" href="#">Last 14 days</a></li>
                                <li><a data-id="30" href="#">Last 30 days</a></li>
                                <li><a data-id="60" href="#">Last 2 months</a></li>
                                <li><a data-id="90" href="#">Last 3 months</a></li>
                                <li><a data-id="180" href="#">Last 6 months</a></li>
                                <li><a data-id="365" href="#">Last 12 months</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-info yellow"></i> This page detects all item <span class="yellow">resales</span> and calculates profits made. Broker fees are always assumed regardless if you bought an item from a buy order or a sell order. <br />
                        <i class="fa fa-info yellow"></i>  Broker fees and transaction taxes are already included in prices. <br />
                        <i class="fa fa-info yellow"></i> Profits are calculated using a first-in, first-out <span class="yellow"><a href="https://en.wikipedia.org/wiki/FIFO_and_LIFO_accounting" target="_blank">(FIFO)</a></span> inventory management method.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-2" aria-expanded="true"> Profits</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-1" aria-expanded="false"> Daily chart</a></li>
                </ul>
            </div>
            </div>
        </div>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-filled">
                            <div class="panel-heading">
                                <div id="chart-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane active">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-filled">
                            <div class="panel-heading">
                                <div class="pull-left mt-10 ml-5">Profits from last <span class="table-interval"></span> days</div>
                                <br>
                            </div>
                            <br>
                            <div class="panel-body profits-2-body">
                                <button class="btn btn-default pull-right btn-clear">Clear filters</button>
                                <p class="yellow"></p>
                                <p class="yellow-2"> Click an item name to filter results.</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover" id="profits-2-table">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th class="no-sort" style="width: 5%;"></th>
                                                <th class="no-sort">System</th>
                                                <th class="no-sort">ISK/unit</th>
                                                <th>Q</th>
                                                <th class="no-sort">ISK/total</th>
                                                <th class="no-sort">Time</th>
                                                <th class="no-sort">Character</th>
                                                <th>ISK Profit</th>
                                                <th class="no-sort">Margin</th>
                                                <th>Duration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ base_url('assets/fusioncharts/js/fusioncharts.js') }}?v={{HASH_CACHE}}"></script>
<script src="{{ base_url('dist/js/apps/profits-app.js') }}?v={{HASH_CACHE}}"></script>