<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% include 'common/view-header_v' ~ '.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-filled panel-c-success panel-main">
                    <div class="panel-body">
                        <i class="fa fa-info yellow"></i> Yada yada<br/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-filled">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>