.content {
    margin-top: 0 !important;
    padding-top: 0;
}

.market {
	.item-name {
		font-size: 16px;
		font-weight: 700;
	}

    .orders-title {
        font-size: 20px;
        font-weight: 700;
    }

    .header {
        font-weight: 700;
    }

    table {
        tbody {
            th, td, tr {
                padding-top: 3px;
                padding-bottom: 3px;
                font-size: 12px;
            }
        }
    }

    .totals {
        font-size: 12px;
    }

    .yellow {
        color: #f8bb52;
    }

    /*table {
        max-height: 500px;
        display: block;
        overflow-y: scroll;
    }*/
}

.market-groups {
    overflow-y: auto;
    max-height: 450px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  $loading-bar;
    border-left-color: $loading-bar;
    @extend #loading-bar;
}

#loading-bar .bar {
    background: $loading-bar;
}

ul.dropdown-menu {
    background-color: #494b54;
}

.dropdown-menu > li > a {
    color: #949ba2;
    &:hover {
        color: $loading-bar;
    }
}
